/*
* Title: hangman.css
* Abstract: Styling sheet for index.html
* Author: Moises Bernal
* Date: 3-6-2018
*/

h1 {
	text-transform: uppercase;
	text-align:center;
	font-size: 80px;
	font-weight:900;
	color: black;
  	-webkit-text-fill-color: greenyellow;
  	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: black;
	margin: 0;
	margin-top: -20px;
}

#selected {
	font-size: 40px;
	font-size: 4vw;
}

#textInput{
	border: 1px solid black;
	background-color:transparent;
	font-size: 40px;
	width: 80px;
}

h2, #textInput {
	text-transform: uppercase;
	text-align:center;
	font-weight:900;
	color: black;
	-webkit-text-fill-color: greenyellow;
  	-webkit-text-stroke-width: 1px;
  	-webkit-text-stroke-color: black;
}

#incorrect{
	-webkit-text-fill-color: #ff4d4d;
}

html body {
	background-color:ghostwhite;
	background-repeat:repeat;
	font-family: Arial, Helvetica, sans-serif;
}

#message {
	color: red;
}

#picCell {
	text-align: left;
}

#hangmanPic {
	width: 60%;
	height:auto;
}

#Word {
    text-align: center;
}

#ILP {
	text-align: center;
}

#Word h5 {
    font-size: 20px;
    text-align: center;
}

#Word h3 {
	font-size: 20px;
    font-size: 3vw;
	text-align: center;
}

#guesses td, #guesses th{
	border: 1px solid black;
	text-align: center;
	padding: 0px;
}

#guesses {
	table-layout: fixed;
	width: 60%;
}

table {
	border-collapse: collapse;
	margin-left:auto; 
    margin-right:auto;
}

td, th {
    text-align: center;
    padding: 2px;
	word-wrap:break-word;
}

#topTable {
	table-layout: fixed;
	width: 100%;
}

#box {
    width: 90%;
	height: 90%;
	margin:0px auto;
	padding-bottom: 50px;
}